<template>
  <div id="app">
    <button id="modeToggler" @click="toggleMode">{{isEditMode ? calcModeCaption : editModeCaption}}</button>
    <div class="editorMode" v-if="isEditMode">
      <div class="top-head-wrap flexible">
        <label>
          <input type="text" v-model="newItemLabel" :placeholder=placeholderText>
        </label>
        <button @click="addItem">{{addBtnCaption}}</button>
      </div>
      <p v-show="invalidLabel">{{invalidLabelText}}</p>
      <ul v-if="itemsList.length">
        <v-editor-item v-for="(item, index) in itemsList"
                       is="v-editor-item"
                       :key="item.id"
                       :label="item.caption"
                       :id="item.key"
                       :index="index"
                       :disabled="item.disabled"
                       :count="item.count"
                       :proportion="item.proportion"
                       @removeItem="removeItem"
                       @countChanged="countChange"
                       @proportionChange="proportionChange"
                       @changeAvailability="changeAvailability"
                       @nameChange="nameChange"
                       class="item">
        </v-editor-item>
      </ul>
      <p v-else>
        {{emptyListText}}
      </p>
    </div>
    <div class="viewMode" v-else>
      <ul v-if="calcList.length">
        <v-calc-item v-for="item in calcList"
                     :isCalcMode="!isEditMode"
                     :key="item.id"
                     :label="item.caption"
                     :id="item.id"
                     :disabled="item.disabled"
                     :count="item.count"
                     :proportion="item.proportion"
                     @countChange="countChange"
                     class="item">
        </v-calc-item>
      </ul>
      <v-total-input @totalChange="totalChange" :total="totalData" class="total"></v-total-input>
    </div>
  </div>
</template>
<script>
  import calcItem from './v-calc-item';
  import editorItem from './v-editor-item';
  import totalInput from './v-calc-total-item';

  export default {
    name: 'app',
    that: this,
    data(){
      return {
        lsKey: "pCalcData",
        calcModeCaption: "Calc mode",
        editModeCaption: "Edit mode",
        isEditMode: false,
        placeholderText: 'New item',
        addBtnCaption: "Click to add item to list",
        emptyListText: 'Nothing left in the list. Please, add new items.',
        invalidLabel: false,
        invalidLabelText: 'Item name can\'t be empty! Please, enter item name and try again',
        newItemLabelData: '',
        totalCaption: 'Total',
        totalData: 10,
        itemsList: [
          {
            caption: 'Sour',
            key: 'test1',
            id: 'test1',
            count: 1,
            proportion: 1,
            disabled: false,
          },
          {
            caption: 'Sweet',
            key: 'test2',
            id: 'test2',
            count: 2,
            proportion: 2,
            disabled: false,
          },
          {
            caption: 'Strong',
            key: 'test3',
            id: 'test3',
            count: 3,
            proportion: 3,
            disabled: false,
          },
          {
            caption: 'Weak',
            key: 'test4',
            id: 'test4',
            count: 4,
            proportion: 4,
            disabled: false,
          },
        ],
        calcList: [
          {
            caption: 'Sour',
            key: 'test1',
            id: 'test1',
            count: 1,
            proportion: 1,
            disabled: false,
          },
          {
            caption: 'Sweet',
            key: 'test2',
            id: 'test2',
            count: 2,
            proportion: 2,
            disabled: false,
          },
          {
            caption: 'Strong',
            key: 'test3',
            id: 'test3',
            count: 3,
            proportion: 3,
            disabled: false,
          },
          {
            caption: 'Weak',
            key: 'test4',
            id: 'test4',
            count: 4,
            proportion: 4,
            disabled: false,
          },
        ],
      };
    },
    computed: {
      newItemLabel: {
        get: function(){
          return this.newItemLabelData;
        },
        set: function(data){
          this.newItemLabelData = data;
        },
      },
      total: {
        get: function(){
          return this.totalData;
        },
        set: function(data){
          this.totalData = +data;
        },
      },
    },
    components: {
      'v-editor-item': editorItem,
      'v-calc-item': calcItem,
      'v-total-input': totalInput,
    },
    methods: {
      addItem: function(){
        const condition = this.newItemLabelData.trim();
        this.invalidLabel = !condition;
        if(condition){
          const key = "pCalcIn" + "_" + ((+new Date()).toString(16)) + "_" + this.newItemLabelData.toLowerCase();
          this.itemsList.push({
              caption: this.newItemLabelData,
              key: key,
              disabled: false,
              proportion: 0
            },
          );
          this.newItemLabelData = '';
        }
      },
      removeItem: function(index){
        this.itemsList.splice(index, 1);
      },
      proportionChange: function(key, newData){
        let targetIndex = 0;
        this.itemsList.forEach(function(listArrayItem, index){
          if(listArrayItem.key === key){
            targetIndex = index;
          }
        });
        this.itemsList[targetIndex].proportion = newData;
        localStorage.setItem(this.lsKey, JSON.stringify(this.itemsList));
      },
      nameChange: function(key, newData){
        let targetIndex = 0;
        this.itemsList.forEach(function(listArrayItem, index){
          if(listArrayItem.key === key){
            targetIndex = index;
          }
        });
        this.itemsList[targetIndex].caption = newData;
        localStorage.setItem(this.lsKey, JSON.stringify(this.itemsList));
      },
      countChange: function(id, newData){
        let index = -1, part, totalSum = 0;
        for(let i = 0; i < this.calcList.length; i++){
          if(this.calcList[i].id === id){
            index = i;
          }
        }
        part = (newData / this.calcList[index].proportion);
        for(let i = 0; i<this.calcList.length; i++){
          this.calcList[i].count = this.calcList[i].proportion * part;
          totalSum += this.calcList[i].count;
        }
        this.totalData = totalSum;
      },
      changeAvailability: function(key, newData){
        let targetIndex = 0;
        this.itemsList.forEach(function(listArrayItem, index){
          if(listArrayItem.key === key){
            targetIndex = index;
          }
        });
        this.itemsList[targetIndex].disabled = newData;
        localStorage.setItem(this.lsKey, JSON.stringify(this.itemsList));
      },
      toggleMode: function(){
        if(this.isEditMode){
          this.calcList = this.itemsList.filter(item => !item.disabled);
        }
        this.isEditMode = !this.isEditMode;
        this.totalChange(this.totalData);
      },
      totalChange: function(data){
        let propsSumm = 0;
        this.calcList.forEach(item => propsSumm += item.proportion);
        let part = data / propsSumm;
        for(let i = 0; i < this.calcList.length; i++){
          this.calcList[i].count = (part * this.calcList[i].proportion);
        }
      },
    },
    mounted: function(){
    },
  };
</script>
<style>
  p{
    font-family: sans-serif;
  }
  .flexible{
    display: flex;
  }
  .top-head-wrap{
    justify-content: space-around;
    align-items: stretch;

  }
  .item{
    margin-bottom: 20px;
  }
  .total{
    -webkit-padding-start: 40px;
    justify-content: space-around;
    align-items: flex-end;
  }
</style>
