<template>
  <div class="total flexible">
    <div class="input-wrap">
      <p class="caption">{{caption}}</p>
    </div>
    <label>
      <input :placeholder="caption"
             v-model="totalComp">
    </label>
  </div>
</template>
<script>
  export default {
    props: {
      total: {
        type: Number,
        required: true,
      },
    },
    data: function(){
      return {
        totalData: +this.total,
        caption: "Total",
      };
    },
    computed: {
      totalComp: {
        get: function(){
          return +this.total;
        },
        set: function(data){
          this.totalData = +data;
          this.$emit("totalChange", +data);
        }
      },
    },
    components: {},
  };
</script>
<style scoped>
  .caption{
    margin: 0;
  }
</style>
