<template>
  <div class="ingridient flexible" v-if="!isDisabled || !isCalcMode">
    <div class="input-wrap">
      <p class="caption" v-if="isCalcMode">{{label}}</p>
    </div>
    <v-count-input :placeholder="countPlaceholder"
                   :id="id"
                   :count="count"
                   @countChange="countChange">
    </v-count-input>
  </div>
</template>
<script>
  import countInput from './v-count-input';

  export default {
    props: {
      id: {
        type: String,
        required: true,
      },
      label: {
        type: String,
        required: true,
      },
      count: {
        type: Number,
        required: false,
      },
      isCalcMode: {
        type: Boolean,
        required: false,
      }
    },
    data: function(){
      return {
        countPlaceholder: "Count:",
        isDisabled: this.$props.disabled || false,
        countData: +this.$props.count || 0,
        removeBtnTxt: "Remove",
      };
    },
    computed: {
      countComp: {
        get: function(){
          return this.countData;
        },
        set: function(data){
          console.log("!", +data);
          this.countData = +data;
          this.$emit("countChanged", this.$props.id, +data);
        }
      },
    },
    components: {
      'v-count-input': countInput,
    },
    methods: {
      countChange: function(key, data){
        this.$emit("countChange", key, data)
      },
    },
  };
</script>
<style scoped>
  .caption{
    margin: 0;
  }
  .ingridient{
    justify-content: space-around;
    align-items: flex-end;
  }
</style>
