<template>
  <div class="input-wrap">
    <label>
      <input class="custom-input" :placeholder="placeholder" v-model="countComp">
    </label>
  </div>
</template>
<script>
  export default {
    name: "v-count-input",
    props: {
      id: {
        type: String,
        required: true,
      },
      placeholder: {
        type: String,
        required: false,
      },
      count: {
        type: Number,
        required: true,
      },
    },
    data: function(){
      return {
        countData: this.count || 0,
      }
    },
    computed: {
      countComp: {
        get: function(){
          return +this.count.toFixed(2);
        },
        set: function(data){
          this.countData = +data;
          this.$emit("countChange", this.id, +data);
        }
      },
    },
  }
</script>
<style scoped>
  p{
    margin: 0;
  }
  input{
    text-align: center;
  }
</style>
