<template>
  <div class="ingridient flexible" v-if="!isDisabled || !isCalcMode">
    <div class="input-wrap">
      <p class="caption" v-if="isCalcMode">{{label}}</p>
    </div>
    <button @click="toggleDisabling" v-if="!isCalcMode">{{ isDisabled ? 'Enable' : 'Disable' }}</button>
    <v-label-input :placeholder="labelPlaceholder"
                   :id="id"
                   :disabled="disabled"
                   :label="label"
                   @nameChange="nameChange">
    </v-label-input>
    <v-proportion-input :placeholder="proportionPlaceholder"
                        :id="id"
                        :disabled="disabled"
                        :proportion="proportion"
                        @proportionChange="proportionChange">
    </v-proportion-input>
    <button @click="removeItem" v-if="!isCalcMode">{{removeBtnTxt}}</button>
  </div>
</template>
<script>
  import labelInput from './v-label-input';
  import proportionInput from './v-proportion-input';

  export default {
    props: {
      id: {
        type: String,
        required: true,
      },
      label: {
        type: String,
        required: true,
      },
      proportion: {
        type: Number,
        required: false,
      },
      disabled: {
        type: Boolean,
        required: true,
      },
      isCalcMode: {
        type: Boolean,
        required: false,
      },
      index: {
        type: Number,
        required: true,
      }
    },
    data: function(){
      return {
        labelPlaceholder: "Item name",
        proportionPlaceholder: "Proportion Coefficient",
        isDisabled: this.$props.disabled || false,
        labelData: '',
        proportionData: +this.$props.proportion || 0,
        removeBtnTxt: "Remove",
      };
    },
    computed: {
      disabledComp: {
        get: function(){
          return this.isDisabled;
        },
        set: function(){
        }
      },
    },
    components: {
      'v-label-input': labelInput,
      'v-proportion-input': proportionInput,
    },
    methods: {
      toggleDisabling: function(){
        this.isDisabled = !this.isDisabled;
        this.$emit("changeAvailability", this.$props.id, this.isDisabled);
      },
      removeItem: function(){
        this.$emit("removeItem", this.index)
      },
      nameChange: function(key, data){
        this.$emit("nameChange", key, data)
      },
      proportionChange: function(key, data){
        this.$emit("proportionChange", key, data)
      },
    },
  };
</script>
<style scoped>
  .caption{
    margin: 0;
  }
  .ingridient{
    justify-content: space-around;
    align-items: flex-end;
  }
  .ingr-input{
    text-align: center;
  }
</style>
