<template>
  <div class="input-wrap">
    <p class="caption">{{caption}}</p>
    <label>
      <input class="custom-input" required :placeholder="placeholder" v-model="inputModel" :disabled="disabled">
    </label>
  </div>
</template>
<script>
  export default {
    name: "v-label-input",
    props: {
      placeholder: {
        type: String,
        required: true,
      },
      label: {
        type: String,
        required: true,
      },
      disabled: {
        type: Boolean,
        required: true,
      },
    },
    data: function(){
      return {
        caption: "Item name",
        nameData: this.label || "",
      }
    },
    computed: {
      inputModel: {
        get: function(){
          return this.nameData;
        },
        set: function(data){
          this.nameData = data;
          this.$emit("nameChange", this.$props.id, data);
        }
      },
    },
  }
</script>
<style scoped>
  p{
    margin: 0;
  }
  input{
    text-align: center;
  }
</style>
