<template>
  <div class="input-wrap">
    <p class="caption">{{caption}}</p>
    <label>
      <input class="custom-input" required :placeholder="placeholder" v-model="inputModel" :disabled="disabled">
    </label>
  </div>
</template>
<script>
  export default {
    name: "v-proportion-input",
    props: {
      placeholder: {
        type: String,
        required: true,
      },
      proportion: {
        type: Number,
        required: true,
      },
      disabled: {
        type: Boolean,
        required: true,
      },
      id: {
        type: String,
        required: true,
      },
    },
    data: function(){
      return {
        caption: "Proportion",
        proportionData: +this.proportion || 0,
      }
    },
    computed: {
      inputModel: {
        get: function(){
          return this.proportionData;
        },
        set: function(data){
          this.proportionData = +data;
          this.$emit("proportionChange", this.id, +data);
        }
      },
    },
  }
</script>
<style scoped>
  p{
    margin: 0;
  }
  input{
    text-align: center;
  }
</style>
